<footer style="text-align: center">
    <p>Take a look at <a href="../downloads/KevinUlrich_Resume.pdf">my resume</a></p>
    <p>Copyright 2018 Kevin Ulrich, All Rights Reserved.<br><a href="mailto:kzulrich@gmail.com">Contact Me</a></p>
</footer>

<!-- bootstrap js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="../libs/bootstrap/js/bootstrap.js"></script>