<!------------------------------------------------------------------------------
--
--                        Navigation Buttons
--
------------------------------------------------------------------------------->
<div class="container body-text mt-4 col-12">
    <div class="d-flex flex-row">
        <a class="btn btn-outline-secondary" style="text-decoration:none" href="/">Home</a>
        <button type="button" class="btn btn-secondary offset-xl-5 offset-lg-5 offset-md-4 offset-sm-4 offset-2"
                data-container="body" data-toggle="popover" data-placement="bottom"
                data-content="I'm Kevin Ulrich, or moromis. I'm a software engineer hailing from the Pacific Northwest. My main pursuits lie in AI-related
    topics lately, including neural networks, genetic algorithms, and big data. I also love computer vision and game design,
        though I haven't had much time for the latter in a while. <br><a href='mailto:kzulrich@gmail.com'>Toss me an email.</a>">
            About Me
        </button>
        <a class="btn btn-outline-secondary offset-xl-5 offset-lg-4 offset-md-4 offset-sm-3 offset-2" id="nightlight">Dark</a>
    </div>
</div>