<html lang="en">
<!DOCTYPE html>

<%- include('partials/head') %>

<body>

<!------------------------------------------------------------------------------
--
--                        Navigation Buttons
--
------------------------------------------------------------------------------->
<%- include('partials/navbar') %>

<!------------------------------------------------------------------------------
--
--                              Title
--
------------------------------------------------------------------------------->
<%- include('partials/title') %>


<!------------------------------------------------------------------------------
--
--                  Main Content
--
------------------------------------------------------------------------------->
<div class="container col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 offset-xl-2 body-text">
    <div class="jumbotron row w3-theme3-l1">
        <div class="container mb-5 mt-5 title-text" style="text-align: center">
            <h1>During Spring Quarter 2017, I worked with two other students at the University of Washington Bothell to solve an automobile classification problem.</h1><br><br>
            <h2>
                This project was the culmination of CSS 490: Pattern Classification, and we worked on it throughout the entire quarter.
                <br><br>
                The goal of the project was to see if cars from across the globe were distinguishable from each other based on the region of the manufacturer.
                The classifications were American, European, and Asian. A 65-page report containing all analysis and plots/graphs was the result of the quarter of work.
                <br><br>
                We used various pattern classifications such as principal component analysis and loading vectors to perform feature selection and pattern classification on our data set.
            </h2><br><br>
            <h2>Take a look at the <a href="https://github.com/moromis/CSS-490-Pattern-Classification-Team-Dota">data and analysis from the project here. <i class="fab fa-github"></i></a></h2>
        </div>
    </div>
</div>


<!------------------------------------------------------------------------------
 --
 --                 Footer
 --
 ------------------------------------------------------------------------------->
<%- include('partials/footer') %>

</body>
</html>