<html lang="en">
<!DOCTYPE html>

<%- include('partials/head') %>

<body>

<!------------------------------------------------------------------------------
--
--                        Navigation Button
--
------------------------------------------------------------------------------->
<%- include('partials/navbar') %>

<!------------------------------------------------------------------------------
--
--                              Title
--
------------------------------------------------------------------------------->
<%- include('partials/title') %>

<!------------------------------------------------------------------------------
--
--                  Main Content
--
------------------------------------------------------------------------------->
<div class="container col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 offset-xl-2 body-text">
    <div class="jumbotron row w3-theme2-l1">
        <div class="container mb-5 mt-5 title-text" style="text-align: center">
            <h1>An ASCII dungeon crawler in the style of Nethack, created in Java.</h1><br><br>
            <h2>The map is randomly generated using a filled map dug out by crawlers and stamped with rooms and doors
                based on the necessary connections to make the entire map fit together with no stranded locations.</h2><br><br>
            <h2>Take a look at <a href="https://github.com/moromis/DungeonCrawler">the code here <i class="fab fa-github"></i></a></h2>
        </div>
    </div>
</div>

<!------------------------------------------------------------------------------
 --
 --                 Footer
 --
 ------------------------------------------------------------------------------->
<%- include('partials/footer') %>

</body>
</html>