<html lang="en">
<!DOCTYPE html>

<%- include('partials/head') %>

<body>

<!------------------------------------------------------------------------------
--
--                        Navigation Button
--
------------------------------------------------------------------------------->
<%- include('partials/navbar') %>

<!------------------------------------------------------------------------------
--
--                              Title
--
------------------------------------------------------------------------------->
<%- include('partials/title') %>

<!------------------------------------------------------------------------------
--
--                  Main Content
--
------------------------------------------------------------------------------->
<div class="container col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 offset-xl-2 body-text">
    <div class="jumbotron row w3-theme4-l1">
        <div class="container mb-5 mt-5 title-text" style="text-align: center">
            <h1>This is getting real meta... But one of my projects was this website.</h1><br><br>
            <h2>I implemented this website as an Express app on top of NodeJS. I templated it with EJS, and wrote the front end UI in Bootstrap 4.0.
                The website is hosted on an AWS EC2 instance. I also used another of my projects, <a href="/Nightlight">Nightlight</a> on this website.</h2><br><br>
            <h2>Take a look at the <a href="https://github.com/moromis/Moromis.com-2.0">source code for this whole website here. <i class="fab fa-github"></i></a></h2>
        </div>
    </div>
</div>

<!------------------------------------------------------------------------------
 --
 --                 Footer
 --
 ------------------------------------------------------------------------------->
<%- include('partials/footer') %>

</body>
</html>